{{ set(this, 'title', 'Просмотр ' ~ modelTitleForms[1]) }}
{{ use('yii/widgets/DetailView') }}
{{ use('e96/madmin/MAdminAsset') }}
{{ register_m_admin_asset() }}

<div class="view">
    <h1>{{ this.title }}</h1>

    <p>
        {#{{ html.a('<span class="glyphicon glyphicon-arrow-left"></span>Вернуться', returnUrl, {#}
            {#class: 'btn btn-default',#}
        {#}) | raw }}#}
        {{ html.a('<span class="glyphicon glyphicon-pencil"></span>Изменить ' ~ modelTitleForms[0], { 0: 'update', id: model.id }, {
            class: 'btn btn-primary',
        }) | raw }}
        {{ html.a('<span class="glyphicon glyphicon-trash"></span>Удалить ' ~ modelTitleForms[0], { 0: 'delete', id: model.id }, {
            class: 'btn btn-danger',
            data: {
                confirm: yii.t('yii', 'Are you sure you want to delete this item?'),
                method: 'post',
            }
        }) | raw }}
    </p>

    {{ detailView_widget({
        model: model
    }) }}
</div>
