{% block setup %}{% endblock %}
{{ use('e96/madmin/MAdminAsset') }}
{{ register_m_admin_asset() }}

<div>
    <div class="page-header">
    {% block header %}
        <h1>{% block title %}{{ this.title }}{% endblock %}</h1>
    {% endblock %}
    </div>
    {% block alerts %}
        {% for key, text in app.session.getAllFlashes(true) %}
            {% if text is iterable %}
                {% for oneText in text %}
                    {{ alert_widget({
                        options: {
                            class: 'alert-' ~ key,
                        },
                        body: oneText
                    }) }}
                {% endfor %}
            {% else %}
                {{ alert_widget({
                    options: {
                        class: 'alert-' ~ key,
                    },
                    body: text
                }) }}
            {% endif %}
        {% endfor %}
    {% endblock %}
    {% block modal %}
        {% set modal = modal_begin({
            size: 'modal-lg',
        }) %}
        {{ modal_end() }}
        {{ this.registerJs("
            $('[data-toggle=modal][href]').on('click', function () {
                var $this = $(this);
                $('#" ~ modal.id ~ " .modal-content').load($this.attr('href') + ' div.modal-content>div');
            });
        ") }}
    {% endblock %}
    <p>
        {% block buttons %}{% endblock %}
    </p>

    {% block content %}{% endblock %}
</div>
